---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-empty-catch,
  -bugprone-easily-swappable-parameters,
  -bugprone-lambda-function-name,
  -bugprone-narrowing-conversions,
  -bugprone-suspicious-stringview-data-usage,
  -bugprone-unchecked-optional-access,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-narrowing-conversions,
  -modernize-avoid-c-arrays,
  -modernize-raw-string-literal,
  -modernize-use-equals-default,
  -modernize-use-nodiscard,
  -modernize-use-constraints,
  -modernize-use-integer-sign-comparison,
  -modernize-use-ranges,
  -modernize-use-starts-ends-with,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -modernize-use-emplace,
  -performance-avoid-endl,
  -performance-enum-size,
  -performance-faster-string-find,
  -performance-inefficient-string-concatenation,
  -performance-unnecessary-value-param,
  -readability-container-contains,
  -readability-const-return-type,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-qualified-auto,
  -readability-redundant-control-flow,
  -readability-redundant-string-cstr,
  -readability-uppercase-literal-suffix,
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|.*/)(nestdaq|plugins|controller|examples)/.*'
FormatStyle: none
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: '1'
...
